<h1>You are viewing the Update Profile Page!!</h1>

<!-- <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="pt-100">
    <div class="row justify-content-center">
      <div class="form-group col-4">
        <label class="font-weight-bolder">Username</label>
        <input type="text" formControlName="username" class="form-control" placeholder="Username" required>  		
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-4">
        <label class="font-weight-bolder">Email</label>
        <input type="text" formControlName="email" class="form-control" placeholder="Email" required>  		
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-4">
        <label class="font-weight-bolder">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" required>  		
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-4">
        <label class="font-weight-bolder">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name" required>  		
      </div>
    </div>
     <div class="row justify-content-center">
        <div class="form-group col-4">
          <button type="submit" class="btn btn-success btn-block">Update</button>
        </div>
      </div>
  </form> -->
  
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <a routerLink="/home" class="btn btn-primary btn-block">Cancel</a>
    </div>
  </div>

