<div class="row justify-content-center">
  <div class="form-group col-4">
<div *ngIf="data.profilePic != null; else elseBlock">
  <img id="profilePic" class="img-thumbnail img-fluid profile" src="{{data.profilePic}}">
</div>
<ng-template #elseBlock>
  <img id="profilePic" class="img-thumbnail img-fluid profile" src="assets/defaultPic.png"  >
</ng-template>
<!-- <form [formGroup]="editForm" enctype="multipart/form-data" >
  <input type="file" formControlName="profilePic">
  <input type="submit" class="btn btn-success btn-block">
</form> -->
</div>
</div>



<form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="pt-100" enctype="multipart/form-data" >
  <div class="row justify-content-center">
      <div class="form-group col-4">
        <label class="font-weight-bolder">Profile Picture</label>
        <input type="file" formControlName="profilePic" class="form-control" (change)="fileSelected($event)" >
      </div>
    </div>
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <label class="font-weight-bolder">Username</label>
      <input type="text" formControlName="username" class="form-control" [value]="data.username">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <label class="font-weight-bolder">Email</label>
      <input type="text" formControlName="email" class="form-control" [value]="data.email" required>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <label class="font-weight-bolder">First Name</label>
      <input type="text" formControlName="firstName" class="form-control" [value]="data.firstName" required>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <label class="font-weight-bolder">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control" [value]="data.lastName" required>
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="form-group col-4">
        <label class="font-weight-bolder">Password</label>
        <input type="text" formControlName="password" class="form-control" required>
      </div>
    </div>

  <div class="row justify-content-center">
    <div class="form-group col-4">
      <button type="submit" class="btn btn-success btn-block">Update</button>
    </div>
  </div>
</form>

<div class="row justify-content-center">
  <div class="form-group col-4">
    <a routerLink="/home" class="btn btn-primary btn-block">Cancel</a>
  </div>
</div>