<!-- <div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-4 text-center">
    </div>
    <div class="col-md-offset-3 col-md-4 text-center">
      <h1 class='text-red'>Welcome User</h1>
      <form class="form-login" action="#" method="post" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <br />
        <h4>Secure Login</h4>
        <br />
        <div class="form-group">
          <input type="text" formControlName="username" class="form-control input-sm chat-input"
            placeholder="username" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <br />
        <br />
        <div class="form-group">
          <input type="password" formControlName="password" class="form-control input-sm chat-input"
            placeholder="password" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <br /> <br />
        <div class="wrapper form-group">
          <span class="group-btn">
            <button class="btn btn-primary btn-md" id="submit_button">
              Login <i class="fa fa-sign-in"></i></button>
          </span>
        </div>
        <div class="form-group">
          <button class="btn btn-md" id="register_button" (click)="sendToRegister()">Register New Account</button>
        </div>
      </form>

    </div>
  </div>
</div> -->

<div class="container row justify-content-center">
  <div class="row">
    <form [formGroup]="loginForm" class="form-login">
      <h2 class="text-center" id="loginHead">Login</h2>
      <div class="form-group col-md-offset-3 col-md-12 text-center">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group col-md-offset-3 col-md-12 text-center">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block" (click)="onLogin()" id="submit_button">Login</button><br />
        <a routerLink="/register" class="btn btn-primary btn-block">Register</a>
        <a routerLink="/reset" class="btn btn-danger btn-block">Reset Password</a>
      </div>
    </form>
    <div>
      <h2 *ngIf="message == 'success'"> Successfully Registered </h2> 
    </div>
  </div>
</div>