<!-- <div>
  <label><h2>First Name: </h2></label> <input type="text" disabled=true name="userFirstName" value={{firstName}}> <br/>
  <label><h2>Last Name: </h2></label> <input type="text" disabled=true name="userLastName" value={{lastName}}> <br/>
  <label><h2>Email: </h2></label>   <input type="text" disabled=true name="userEmail" value={{email}}> <br/>
  <table>
    <tr *ngFor="let post of user.postList">
      <div class="card">
          <div class="card-header">
            {{user.username}} <br/>
            <div *ngIf="user.profilePic != null; else elseBlock">
              <img class="img-thumbnail img-fluid profile" src="{{user.profilePic}}">
            </div>
            <ng-template #elseBlock>
              <img class="img-thumbnail img-fluid profile" src="assets/defaultPic.png" >
            </ng-template>
            
            
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.description}}</h5>
            <p class="card-text">{{post.postedDate}}</p>
            <img class="img-fluid" *ngIf="post.picture != null" [src]="post.picture" width="600px">
            <p class="card-text">Likes: {{post.likedBy.length}}</p>
          </div>
        </div>
    </tr>
  </table>
</div> -->

<div style="text-align:center;">
  <label><h2>Name: {{user.firstName}} {{user.lastName}}</h2></label><br/>
  <label><h2>Email: {{user.email}}</h2></label><br/>
  <a class=" btn btn-primary" routerLink="/editUser" style="margin-bottom: 15px;">Update Profile</a>
  <table>
    <tr *ngFor="let post of user.postList">
      <div class="card">
          <div class="card-header">           
            <div *ngIf="user.profilePic != null; else elseBlock">
              <img class="img-thumbnail img-fluid profile" src="{{user.profilePic}}">
              <span id="username">{{user.username}}</span>
            </div>
            <ng-template #elseBlock>
              <img class="img-thumbnail img-fluid profile" src="assets/defaultPic.png" >
              <span id="username">{{user.username}}</span>
            </ng-template> <br/>            
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.description}}</h5>
            <p class="card-text">{{post.postedDate}}</p>
            <img class="img-fluid postimage" *ngIf="post.picture != null" [src]="post.picture" width="600px">
            <p class="card-text" style="margin-top: 10px;">Likes: {{post.likedBy.length}}</p>
          </div>
        </div>
    </tr>
  </table>
</div>
