<div>
  <label><h2>First Name: </h2></label> <input type="text" disabled=true name="userFirstName" value={{firstName}}> <br/>
  <label><h2>Last Name: </h2></label> <input type="text" disabled=true name="userLastName" value={{lastName}}> <br/>
  <label><h2>Email: </h2></label>   <input type="text" disabled=true name="userEmail" value={{email}}> <br/>
  <table>
    <tr *ngFor="let post of postList">
      <label><h5>{{firstName}} {{lastName}}</h5></label>
      <img *ngIf="post.picture != null" [src]="post.picture" width="600px">
      <h2>{{post.description}}</h2>
      <h2>{{post.postedDate}}</h2>
    </tr>
  </table>
</div>