.description_text{
    resize: none;
}

.profile{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;

    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: contain;
}

table{
    margin-left:auto; 
    margin-right:auto;
}
.card{
    margin-bottom: 15px;
}

.postimage{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
    height: 500px;

    position: relative;
    float: left;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: contain;
}

.card-header{
    text-align: left;
}

#username{
    margin-left: 25px;
    font-size: 25px;
}