<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Create a Post</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="pt-100"  enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="form-group col-4">
              <label class="font-weight-bolder"></label>
              <textarea type="text" formControlName="description" class="form-control" placeholder="Type a post here"></textarea>
            </div>
          </div>
        <div class="row justify-content-center">
            <div class="form-group col-4">
              <label class="font-weight-bolder">Attach Image (Optional)</label>
              <input type="file" formControlName="postPic" class="form-control" (change)="fileSelected($event)" >
            </div>
          </div>
          <div class="modal-footer row justify-content-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit Post</button>
            </div>
      </form>
    </div>
  </div>
</div>
<div>

  <!-- <form enctype="multipart/form-data" [formGroup]="newPost">
    <input type="text" formControlName="description"/>
    <input type="file" formControlName="picture"/>
  </form> -->

  <table class="text-center">
    <tr *ngFor="let post of newsFeedList">
      <td class="table_cell">
        <!-- <label>
          <h5>{{firstName}} {{lastName}}</h5>
        </label> <br />
        Posted on {{post.postedDate}} <br />
        <img *ngIf="post.picture != null" [src]="post.picture" width="600px"><br />
        <textarea rows="3" cols="100" disabled=true class="description_text">
          {{post.description}}
        </textarea> -->

        <div class="card">
            <div class="card-header">           
              <div *ngIf="post.author.profilePic != null; else elseBlock">
                <img class="img-thumbnail img-fluid profile" src="{{post.author.profilePic}}">
                <span id="username">{{post.author.username}}</span>
              </div>
              <ng-template #elseBlock>
                <img class="img-thumbnail img-fluid profile" src="assets/defaultPic.png" >
                <span id="username">{{post.author.username}}</span>
              </ng-template> 
            </div>
            <div class="card-body">
              <h5 class="card-title">{{post.description}}</h5>
              <p class="card-text">{{post.postedDate}}</p>
              <img class="img-fluid postimage" *ngIf="post.picture != null" [src]="post.picture" width="600px">
              <p class="card-text" style="margin-top: 10px;">Likes: {{post.likedBy.length}}</p>
              <form [formGroup]="likeForm" (ngSubmit)="onLike()">
                <input type="text" formControlName="postId" [value]=post.pid/>
                <button type="submit" class="btn-primary btn">Like</button>
              
              </form>
            </div>
          </div>
      </td>
    </tr>
  </table>
</div>
<div class="col-md-2 text-center"></div>
<div>
  <button (click)="refresh()" style="position:relative;">return to top</button>
</div>

