<a class=" btn btn-primary" routerLink="/editUser" >Update Profile</a>

<div>
  <form enctype="multipart/form-data" [formGroup]="newPost">
    <input type="text" formControlName="description"/>
    <input type="file" formControlName="picture"/>
  </form>

  <table class="text-center">
    <tr *ngFor="let post of newsFeedList">
      <td class="table_cell">
        <!-- <label>
          <h5>{{firstName}} {{lastName}}</h5>
        </label> <br />
        Posted on {{post.postedDate}} <br />
        <img *ngIf="post.picture != null" [src]="post.picture" width="600px"><br />
        <textarea rows="3" cols="100" disabled=true class="description_text">
          {{post.description}}
        </textarea> -->

        <div class="card">
            <div class="card-header">           
              <div *ngIf="post.author.profilePic != null; else elseBlock">
                <img class="img-thumbnail img-fluid profile" src="{{post.author.profilePic}}">
                <span id="username">{{post.author.username}}</span>
              </div>
              <ng-template #elseBlock>
                <img class="img-thumbnail img-fluid profile" src="assets/defaultPic.png" >
                <span id="username">{{post.author.username}}</span>
              </ng-template> 
            </div>
            <div class="card-body">
              <h5 class="card-title">{{post.description}}</h5>
              <p class="card-text">{{post.postedDate}}</p>
              <img class="img-fluid postimage" *ngIf="post.picture != null" [src]="post.picture" width="600px">
              <p class="card-text" style="margin-top: 10px;">Likes: {{post.likedBy.length}}</p>
            </div>
          </div>
      </td>
    </tr>
  </table>
</div>
<div class="col-md-2 text-center"></div>
<div>
  <button (click)="refresh()">return to top</button>
</div>

