<div class="container">
  <div class="row">
      <div class="col-md-12 text-center">
        <h1>New User Registration</h1>
      </div>
    <div class="col-md-12 text-center">
      <form method="GET" action="./login">
        <input type="text" name="username" value="Username" /> <br />
        <input type="text" name="email" value="Email" /> <br />
        <input type="text" name="firstname" value="First Name" /> <br />
        <input type="text" name="lastname" value="Last Name" /> <br />
        <input type="text" name="password" value="Password" /> <br />
        <input type="text" name="confirmpassword" value="Confirm Password" /> <br />
        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</div>